@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import './themes/light';
@import './themes/dark';
@import './variables/global';




.app {
    font: var(--font-m);
    color: var(--font-color);
    min-height: 100vh;
    background: var(--bg-color);
    display: flex;
    position: fixed;
}

.content-page {
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0 0;
}
//
//.layout {
//    width: 100wv;
//    margin: 15px;
//}



