@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import './themes/light';
@import './themes/dark';
@import './variables/global';




.app {
    font: var(--font-m);
    color: var(--font-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}



