
:root {
    --font-family-main: Roboto, sans-serif;
    --font-weit: 200;

    //Fonts settings

    //size-S
    --font-size-s: 12px;
    --font-line-s: 18px;
    --font-s: var(--font-weit) var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    //size-M
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-weit) var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    //size-L
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-weit) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    //size-XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-weit) var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    //size-XXL
    --font-size-xxl: 40px;
    --font-line-xxl: 48px;
    --font-xxl: var(--font-weit) var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);


    //element-size-variables

    --sidebar-width: 300px;
    --sidebar-width-collapced: 120px;
    --navbar-height: 50px;
    --toolbar-height: 60px;

    // z - Indexes

    --overlay-z-index: -1;
    --modal-z-index: 10;
    --drop-down-z-index: 100;
    --list-box-z-index: 100;
    --popover-z-index: 100;


    // colors
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #fd0000;
    --red-dark: #d20e0e;

    //colorized_tabs_cells
    --document-status-on-clearance: #e3e3e3;
    --document-status-waiting-for-EC: #c20909;
    --document-status-agreement-in-EC: #0220b4;
    --document-status-awaiting-signing: #525050;
    --document-status-submitted-for-signing: #26c9e5;
    --document-status-ready-to-transfer: #bf53ce;
    --document-status-uploaded-to-TTS: #35ee2d;
    --order-status-none: #e3e3e3;
    --order-status-issued: #f3b15b;
    --order-status-waiting-for-request: #e1df57;
    --order-status-executing: #30833d;
    --order-status-agreement: #2fe0da;
    --order-status-waiting-for-technical-closing: #f14ec0;
    --order-status-technical-closed: #9544e0;

}