.ComboBox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
}

.placeholder {
    margin-right: 15px;
}

.container {
    position: relative;
}

.input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 2.5rem;
    border-style: none;
    width: 242px;
    font: var(--font-s);
    color: #111827;
}

.button {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 3px 3px 3px 0;
    padding: 0.5rem;
    align-items: center;
    border: none;
    background-color: white;
}

.btnIcon {
    fill: var(--inverted-bg-color);
    background-color: white;
    width: 1.25rem;
    height: 1.25rem;
}

.options {
    overflow: auto;
    position: absolute;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.375rem;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --ring-color: #000000;
    --ring-opacity: 0.05;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--bg-color);
    z-index: 2;
    //box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    @media (min-width: 640px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.nthText {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #374151;
    cursor: default;
    user-select: none;
}

.option {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 2.5rem;
    cursor: default;
    user-select: none;
    color: var(--primary-color);
    transition: opacity;
    transition-duration: 2s;
    &:hover {
        color: var(--bg-color);
        background-color: var(--inverted-bg-color);
    }
    &:active {
        color: var(--invetred-secondary-color);
    }
}

.optionSpan {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;

}

.selected {
    background-color: var(--inverted-bg-color);
    color: white;
}

.iconSpan {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0.75rem;
    align-items: center;

}

.checkIcon {
    width: 1.25rem;
    height: 1.25rem;
}

.leave {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    //transition-duration: 100ms;
    //transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.inputBlock {
    overflow: hidden;
    position: relative;
    border: 0.1px black solid;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    cursor: default;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    @media (min-width: 640px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
