.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
}

.outline {
    color: var(--primary-color)
}


.size_s {
    font: var(--font-xl);
}