.ExecutionCard {
    position: relative;
}

.card {
    padding: 10px;
}

.title {
    margin: 3px 0 3px 0;
}

.deleteBtn {
    position: absolute;
    right: -10px;
    top: -10px
}

.partHeader {
    position: relative;
}

.addBtn {
    position: absolute;
    left: 150px;
}

.addKS2Btn {
    position: absolute;
    left: 170px;
}