.Dropdown {
    position: relative;
}

.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: var(--drop-down-z-index);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
    min-width: 100%;
    white-space: nowrap;
}

.item {
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}
