.OrderPageSettingsSideBar {
    position: absolute;
    top: calc(var(--toolbar-height) + var(--navbar-height) + 3px);
    right: calc(0px - var(--side-settings-bar-width));
    box-shadow: 0 2px 5px var(--secondary-color);
    background-color: var(--inverted-bg-color);
    width: var(--side-settings-bar-width);
    height: calc(100% - var(--toolbar-height) - var(--navbar-height));
    z-index: 3;
    transition-property: right;
    transition-duration: 0.5s;
    color: white;
}

.isShow {
    right: 0;
    transition-property: right;
    transition-duration: 0.5s;
}

.overlay {
    z-index: var(--overlay-for-filters-z-index);
    background: var(--overlay-cristal);
}

.toolbar {
    z-index: 100;
}