.InputWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.placeholder {
    margin-right: 15px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    //width: 100%;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);

    &:focus {
        outline: none;
    }
}

.sizeCalibration {
    opacity: 1;
}

.caretWrapper {
    flex-grow: 1;
    position: relative;
}

.caret {
    height: 3px;
    width: 9px;
    background: var(--primary-color);
    bottom: 0;
    left: 0;
    position: absolute;
    animation: blink 0.7s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}


.size_xs {
    font: var(--font-xs)
}

.size_s {
    font: var(--font-s)
}

.size_m {
    font: var(--font-m)
}

.size_l {
    font: var(--font-l)
}

.size_xl {
    font: var(--font-xl)
}
