.Text {

}

.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.primary_color {
    color: var(--primary-color);
}

.secondary_color {
    color: var(--secondary-color);
}

.black_color {
    color: black;
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.highlight {
    .title {
        color: var(--highlight);
    }

    .text {
        color: var(--highlight);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--invetred-secondary-color);
    }
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.borderTrim {
    padding: 0;
    margin: 0;
}

.size_xs {
    &.borderTrim{
        .title {
            font: var(--font-s-trim-gap)
        }
        .text {
            font: var(--font-xs-trim-gap)
        }
    }
    .title {
        font: var(--font-s)
    }

    .text {
        font: var(--font-xs)
    }
}

.size_s {
    &.borderTrim{
        .title {
            font: var(--font-m-trim-gap)
        }
        .text {
            font: var(--font-s-trim-gap)
        }
    }
    .title {
        font: var(--font-m)
    }

    .text {
        font: var(--font-s)
    }
}

.size_m {
    &.borderTrim{
        .title {
            font: var(--font-l-trim-gap)
        }

        .text {
            font: var(--font-m-trim-gap)
        }
    }

    .title {
        font: var(--font-l)
    }

    .text {
        font: var(--font-m)
    }
}

.size_l {
    &.borderTrim{
        .title {
            font: var(--font-xl-trim-gap)
        }
        .text {
            font: var(--font-l-trim-gap)
        }
    }
    .title {
        font: var(--font-xl)
    }

    .text {
        font: var(--font-l)
    }
}

.size_xl {
    &.borderTrim{
        .title {
            font: var(--font-xxl-trim-gap)
        }
        .text {
            font: var(--font-xl-trim-gap)
        }
    }
    .title {
        font: var(--font-xxl)
    }

    .text {
        font: var(--font-xl)
    }
}