.app_dark_theme {
    --bg-color: #000483;
    --secondary-bg-color: #010564;
    --inverted-bg-color: #9d9d9d;
    --primary-color: #918f8f;
    --font-color: #ffffff;
    --font-color-inverted: #000000;
    --secondary-color: #747475;
    --inverted-primary-color: #030391;
    --invetred-secondary-color: #02026b;

    // skeleton
    --skeleton-shadow: #2d3ade;
    --skeleton-color: #0e31a1;

    // listBox
    --listbox-bg: #000483;
}