.app_dark_theme {
    --bg-color: #e3ece3;
    --secondary-bg-color: #80939a;
    --inverted-bg-color: #202C39;
    --primary-color: #283845;
    --font-color: black;
    --font-color-inverted: #000000;
    --secondary-color: #202C39;
    --inverted-primary-color: #bfd0d5;
    --invetred-secondary-color: #F2D492;

    // skeleton
    --skeleton-shadow: #283845;
    --skeleton-color: #202C39;

    // listBox
    --listbox-bg: #000483;
    --cool-color: #008db7;

    // tableColors

    --table-header: #798f9a;
    --table-row: #bdb7b7;
    --table-delimetr: #202C39;
    --table-font-color: black;
}