.app_light_theme {
    --bg-color: #9d9d9d;
    --inverted-bg-color: #000483;
    --primary-color: #030391;
    --secondary-color: #02026b;
    --inverted-primary-color: #918f8f;
    --invetred-secondary-color: #747475
}