.app_light_theme {
    --bg-color: #e3e3e3;
    --secondary-bg-color: #cce1fa;
    --inverted-bg-color: #105191;
    --primary-color: #0456a4;
    --font-color: #000000;
    --font-color-inverted: #ffffff;
    --secondary-color: #033a6e;
    --inverted-primary-color: #e3e3e3;
    --invetred-secondary-color: #c5c5c5;

    // skeleton
    --skeleton-shadow: #e5e7e5;
    --skeleton-color: #a3a4a3;

    // listBox
    --listbox-bg: #e3e3e3;

    // tableColors
    --table-header: #4e81b4;
    --table-row: #ffffff;
    --table-delimetr: #769fce;
    --table-font-color: black;
}