.app_light_theme {
    --bg-color: #bbb;
    --inverted-bg-color: rgb(1 39 87);
    --primary-color: #1827da;
    --secondary-color: #032588;
    --inverted-primary-color: #0cd937;
    --inverted-secondary-color: #1c9633;

    // skeleton
    --skeleton-shadow: #e5e7e5;
    --skeleton-color: #a3a4a3;

    // code
    --code-bg: #e1dede;

    // card
    --card-bg: #9b9a9a;

    // listBox
    --listbox-bg: #9b9a9a;
}
