.app_olive_theme {
    --bg-color: #f3f9ec;
    --inverted-bg-color: #223f26;
    --primary-color: #6a854a;
    --secondary-color: #223f26;
    --inverted-primary-color: #9ec472;
    --inverted-secondary-color: #f3f9ec;

    // skeleton
    --skeleton-shadow: #8ac443;
    --skeleton-color: #95c55b;

    // code
    --code-bg: #f8faf7;

    // card
    --card-bg: #c7c5c5;

    // listBox
    --listbox-bg: #c7c5c5;
}
