.TableGrid {
    display: grid;
    font: var(--font-s);
    gap: 0;
    //overflow-y: auto;
}

.orderTemplate {
    //width: calc(100% - var(--sidebar-width-collapced));
    grid-template-columns:
            //1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
            minmax(40px, 40px)
            minmax(50px, 100px)
            minmax(50px, 100px)
            minmax(50px, 800px)
            minmax(50px, 200px)
            minmax(50px, 110px)
            minmax(50px, 100px)
            minmax(50px, 130px)
            minmax(50px, 100px)
            minmax(50px, 100px)
            minmax(50px, 100px)
            minmax(50px, 130px)
}

.materialTemplate {
    grid-template-columns:
            minmax(50px, 1200px)
            minmax(50px, 200px)
            minmax(50px, 200px)
            minmax(50px, 100px)
            minmax(50px, 100px)
}

.materialInOrderTemplate {
    grid-template-columns:
            minmax(50px, 1000px)
            minmax(50px, 150px)
            minmax(50px, 150px)
            minmax(50px, 150px)
            minmax(50px, 150px)
            minmax(50px, 150px)
            minmax(50px, 150px)
}

.adminPanelUsersTemplate {
    grid-template-columns:
            minmax(50px, 500px)
            minmax(50px, 250px)
            minmax(50px, 250px)
            minmax(50px, 250px)
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
    font: var(--font-s);
    //border-collapse: collapse;
    outline: 1px solid var(--table-delimetr);
    text-align: center;
}

th {
    position: sticky;
    z-index: var(--table-head-z-index);
    margin: 0 auto;
    width: 100%;
    top: 0;
    background: var(--table-header);
    text-align: center;
    //border: 1px solid rgba(0, 0, 0, 0.42);
    //font-weight: normal;
    //font-size: 1.1rem;
    //color: var(--font-color-inverted);
    color: var(--font-color-inverted);
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--table-row);
    color: var(--table-font-color);
    //align-content: center;
}

tr:nth-child(even) td {
    background: var(--secondary-bg-color);
}

.description {
    text-align: left;
}

.sortIndicator {
    position: absolute;
    top: 25px;
    right: 0;
    opacity: 0;
}

.activeField {
    opacity: 1;
}

.tableCell {
    position: relative;
    width: 100%;
}

.colorStripe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
}

.unplanned {
    color: red;
    font-size: 16px;
    //font-weight: bold;
    border-radius: 2px;
}


//Colorized-cells


.on_clearance {
    background-color: var(--document-status-on-clearance);
    color: var(--font-color-inverted);
}

.waiting_for_EC {
    background-color: var(--document-status-waiting-for-EC);
}

.agreement_in_EC {
    background-color: var(--document-status-agreement-in-EC);
}

.awaiting_signing {
    background-color: var(--document-status-awaiting-signing);
}

.submitted_for_signing {
    background-color: var(--document-status-submitted-for-signing);
}

.ready_to_transfer {
    background-color: var(--document-status-ready-to-transfer);
}

.uploaded_to_TTS {
    background-color: var(--document-status-uploaded-to-TTS);
}

.none {
    background-color: var(--order-status-none);
}

.issued {
    background-color: var(--order-status-issued);
}

.waiting_for_request {
    background-color: var(--order-status-waiting-for-request);
}

.executing {
    background-color: var(--order-status-executing);
}

.agreement {
    background-color: var(--order-status-agreement);
}

.waiting_for_technical_closing {
    background-color: var(--order-status-waiting-for-technical-closing);
}

.technical_closed {
    background-color: var(--order-status-technical-closed)
}

.opacityDark {
    opacity: 0.6;
}