.Page {
    flex-grow: 1;
    padding: 0 5px 20px 5px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 1000;
    //width: calc(100% - var(--sidebar-width-collapced));

    // width: 1%;
}

.trigger {
    height: 20px;
    margin: 10px;
}
