.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
    position: relative;     // for z-index property enable

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
}

.clear {
    border: none;
    background: var(--bg-color);
    color: var(--primary-color);
}

.outline {
    color: var(--primary-color);
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
}

.outline_red {
    color: red;
    background: var(--bg-color);
    border: 1px solid red;
}

.outline_green {
    color: green;
    background: var(--bg-color);
    border: 1px solid green;
}

.rounded {
    color: var(--primary-color);
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.background {
    color: var(--inverted-primary-color);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.inverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.square {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square.size_s {
    width: var(--font-line-s);
    height: var(--font-line-s);
}
.square.size_xs {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-size-);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-size-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.size_xs {
    font: var(--font-s);
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
        opacity: 0.5;
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.active {
    color: red;
}
